spring:
  application:
    name: bank-account-command

logging.level:
  ch.keepcalm: DEBUG

axon:
  axonserver:
    servers: axonserver:8124


logging:
  pattern:
    console: "%clr(%d{yy-MM-dd E HH:mm:ss.SSS}){blue} %clr(%-5p) %clr(${PID}){faint}
          %clr([${spring.zipkin.service.name:${spring.application.name:-}},){magenta}%clr(%X{X-B3-TraceId:-},){yellow}%clr(%X{X-B3-SpanId:-},){cyan}%clr(,%X{X-Span-Export:-}]){blue}%clr([%8.15t]){cyan}
          %clr(%-40.40logger{0}){blue} %clr(:){red} %clr(%m
          ){faint}%n"



---
spring:
  profiles: local

axon:
  axonserver:
    servers: localhost:8124

server:
  port: 8080